<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InsertStudentControll</servlet-name>
        <servlet-class>Controller.InsertStudentControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStudentControll</servlet-name>
        <servlet-class>Controller.SearchStudentControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>Controller.home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDetailControll</servlet-name>
        <servlet-class>Controller.StudentDetailControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudentControll</servlet-name>
        <servlet-class>Controller.DeleteStudentControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentControll</servlet-name>
        <servlet-class>Controller.UpdateStudentControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMarkControll</servlet-name>
        <servlet-class>Controller.Mark.ListMarkControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailMarkControll</servlet-name>
        <servlet-class>Controller.Mark.DetailMarkControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMarkControll</servlet-name>
        <servlet-class>Controller.Mark.UpdateMarkControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControll</servlet-name>
        <servlet-class>Controller.Login.LoginControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertArticleControll</servlet-name>
        <servlet-class>Controller.Article.InsertArticleControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailArticleControll</servlet-name>
        <servlet-class>Controller.Article.DetailArticleControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateArticleControll</servlet-name>
        <servlet-class>Controller.Article.UpdateArticleControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTeacherControll</servlet-name>
        <servlet-class>Controller.teacher.InsertTeacherControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailTeacherControll</servlet-name>
        <servlet-class>Controller.teacher.DetailTeacherControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTeacherController</servlet-name>
        <servlet-class>Controller.teacher.DeleteTeacherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTeacherControll</servlet-name>
        <servlet-class>Controller.teacher.ListTeacherControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTeacherControll</servlet-name>
        <servlet-class>Controller.teacher.UpdateTeacherControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControll</servlet-name>
        <servlet-class>Controller.Login.LogoutControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCommentControll</servlet-name>
        <servlet-class>Controller.Mark.DeleteCommentControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changepass</servlet-name>
        <servlet-class>Controller.Login.changepass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailClassControll</servlet-name>
        <servlet-class>Controller.Class.DetailClassControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateClass</servlet-name>
        <servlet-class>Controller.Class.UpdateClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchNameControll</servlet-name>
        <servlet-class>Controller.SearchNameControll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertStudentControll</servlet-name>
        <url-pattern>/student/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStudentControll</servlet-name>
        <url-pattern>/student/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDetailControll</servlet-name>
        <url-pattern>/student/infor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudentControll</servlet-name>
        <url-pattern>/student/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentControll</servlet-name>
        <url-pattern>/student/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListMarkControll</servlet-name>
        <url-pattern>/mark/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailMarkControll</servlet-name>
        <url-pattern>/mark/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMarkControll</servlet-name>
        <url-pattern>/mark/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControll</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertArticleControll</servlet-name>
        <url-pattern>/article/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailArticleControll</servlet-name>
        <url-pattern>/article/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateArticleControll</servlet-name>
        <url-pattern>/article/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTeacherControll</servlet-name>
        <url-pattern>/teacher/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailTeacherControll</servlet-name>
        <url-pattern>/teacher/infor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTeacherController</servlet-name>
        <url-pattern>/teacher/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTeacherControll</servlet-name>
        <url-pattern>/teacher/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTeacherControll</servlet-name>
        <url-pattern>/teacher/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControll</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCommentControll</servlet-name>
        <url-pattern>/mark/deletecmt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changepass</servlet-name>
        <url-pattern>/login/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailClassControll</servlet-name>
        <url-pattern>/class/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateClass</servlet-name>
        <url-pattern>/class/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchNameControll</servlet-name>
        <url-pattern>/student/searchname</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
